*
{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-seriff';
}
body{
    color:snow;
}
.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%; padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar{
    display: flex;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .35;
}
.navbar a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 13px;
}
.navbar a:hover{
    color: yellow;
}
.hey{
    position: relative;
    width:100%;
    justify-content: space-between;
    height:100vh;
    background:url(jeremy-bishop-G9i_plbfDgk-unsplash.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.content{
    width: 100%;
}
.content1{
    width: 50%;
    float: left;
}
.content h3{
    font-size: 32px;
    font-weight: 700;
}
.content h1 {
    font-size: 56px;
    font-weight: 550;
    margin: -3px 0;
}
.scroll{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    margin: 30px 15px 30px 0;
    text-decoration: none;
}
.scroll a:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 20px cyan;
}
.box{
    display: inline-block;
    padding: 12px 20px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}
.box:hover{
    box-shadow: 0 0 15px cyan;
}
.logo{
    font-size:26px;
    font-weight: 600;
    letter-spacing: 1px;
}
.span{
    color:cyan;
}
.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    margin: 1rem 0 2rem;
}
.btn-box a.btn{
    display: inline-block;
    padding: 12px 20px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}
.btn-box a:hover{
    color: white;
}
.circle-image:hover{
    box-shadow: 0 0 10px cyan;
}
.about-content{
    font-size: 22px;
    text-transform: capitalize;
}
.image{
    height: 80px;
    display: flex;
    justify-content: center;
}
